In [1]:
%pip install -Uq upgini
import numpy as np
import pandas as pd

import statsmodels.api as sm
from statsmodels.tsa.deterministic import DeterministicProcess, CalendarFourier
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller
# visualization tools
from matplotlib import pyplot as plt, style
style.use('seaborn-darkgrid')
import seaborn as sns
sns.set_style('darkgrid')
import plotly.express as px
from tqdm import tqdm

import gc
gc.enable()
from warnings import filterwarnings, simplefilter
filterwarnings('ignore')
simplefilter('ignore')

Note: you may need to restart the kernel to use updated packages.

In [5]:
train = pd.read_csv('./data/train.csv',
                    parse_dates = ['date'], infer_datetime_format = True,
                    dtype = {'store_nbr' : 'category',
                             'family' : 'category'},
                    usecols = ['date', 'store_nbr', 'family', 'sales'])
train['date'] = train.date.dt.to_period('D')
train = train.set_index(['date', 'store_nbr', 'family']).sort_index()
print(train.shape)
train.head(10)

(3000888, 1)

                                   sales
date       store_nbr family
2013-01-01 1         AUTOMOTIVE      0.0
                     BABY CARE       0.0
                     BEAUTY          0.0
                     BEVERAGES       0.0
                     BOOKS           0.0
                     BREAD/BAKERY    0.0
                     CELEBRATION     0.0
                     CLEANING        0.0
                     DAIRY           0.0
                     DELI            0.0

In [7]:
train.columns

Index(['sales'], dtype='object')

In [9]:
test = pd.read_csv('./data/test.csv',
                   parse_dates = ['date'], infer_datetime_format = True)
test['date'] = test.date.dt.to_period('D')
test = test.set_index(['date', 'store_nbr', 'family']).sort_values('id')
print(test.shape)
test.head()

(28512, 2)

                                      id  onpromotion
date       store_nbr family
2017-08-16 1         AUTOMOTIVE  3000888            0
                     BABY CARE   3000889            0
                     BEAUTY      3000890            2
                     BEVERAGES   3000891           20
                     BOOKS       3000892            0